@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/Gilroy-Regular.woff") format("woff");
    src: url("/assets/fonts/Gilroy-Regular.woff") format("woff");
  }

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    src: url("/assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 900;
    font-style: normal;
    src: url("/assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}